 <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
    <div class="sidebar-nav">
        <form class="search form-inline">
            <input type="text" placeholder="Search...">
        </form>

        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Dashboard</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li><a href="{% url 'pages:index' %}">Home</a></li>
            <li ><a href="{% url 'pages:orderinfo' %}">订单数据</a></li>
            <li ><a href="{% url 'pages:showchannel' %}">安装数据</a></li>
        </ul>

        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Account</a>
       <!-- <span class="label label-info">+3</span> -->
        <ul id="accounts-menu" class="nav nav-list collapse in">
            <li ><a href="{% url 'users:adduser' %}">添加用户</a></li>

        </ul>

        <!--<a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>Error Pages <i class="icon-chevron-up"></i></a>-->
        <!--<ul id="error-menu" class="nav nav-list collapse">-->
            <!--<li ><a href="403.html">403 page</a></li>-->
            <!--<li ><a href="404.html">404 page</a></li>-->
            <!--<li ><a href="500.html">500 page</a></li>-->
            <!--<li ><a href="503.html">503 page</a></li>-->
        <!--</ul>-->

        <!--<a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>Legal</a>-->
        <!--<ul id="legal-menu" class="nav nav-list collapse">-->
            <!--<li ><a href="privacy-policy.html">Privacy Policy</a></li>-->
            <!--<li ><a href="terms-and-conditions.html">Terms and Conditions</a></li>-->
        <!--</ul>-->

        <!--<a href="help.html" class="nav-header" ><i class="icon-question-sign"></i>Help</a>-->
        <!--<a href="faq.html" class="nav-header" ><i class="icon-comment"></i>Faq</a>-->
    </div>
    