{% include '_header.html' %}

{% include '_left.html' %}
    
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">Users</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Users</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>用户名</th>
          <th>渠道ID</th>
          <th>安装量</th>
          <th>充值数量</th>
          <th style="width: 26px;"></th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.channel.id }}</td>
          <td>{{ user.channel.installnum }}</td>
          <td>{{ user.channel.charge }}</td>
          <td>
              <a href="user.html"><i class="icon-pencil"></i></a>
              <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
<div class="pagination">
    <ul>
        {% if users.has_previous %}
            <li><a href="?page={{ users.previous_page_number }}">Prev</a></li>
        {% endif %}
        <li><a href="?page={{ users.number }}">{{ users.number }}</a></li>
        {% if users.has_next %}
            <li> <a href="?page={{ users.next_page_number }}">next</a> </li>
        {% endif %}
    </ul>
    <span class="current" style="float: right;">
        Page {{ users.number }} of {{ users.paginator.num_pages }}.
    </span>

</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>



{% include '_footer.html' %}

