{% include '_header.html' %}

        <div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Sign In</p>
            <div class="block-body">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <label>Username</label>
                    <input type="text" class="span12" name="username">
                    <label>Password</label>
                    <input type="password" class="span12" name="password">
                    <input type="submit" class="btn btn-primary pull-right" value="Sign In">
                    <span class="text-error">{{ errors }}</span>
                    <label class="remember-me"><input type="checkbox"> Remember me</label>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <p class="pull-right" style=""><a href="#" target="blank">Theme by Portnine</a></p>
        <p><a href="reset-password.html">Forgot your password?</a></p>
    </div>
</div>


    


    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    
  </body>
</html>


